/* --------------------------- Common CSS for navigation and menu ----------------------------- */

.body {
  position: absolute;
  width: 1440px;
  height: 1054px;
  background: #f6f8fa;
}

.navbar {
  position: absolute;
  top: 0%;
  background: #000000;
  height: 64px;
  width: 1440px;
}

.logo {
  position: absolute;
  width: 130px;
  height: 40px;
  left: 16px;
  top: 11px;
}

.top_right_icons {
  position: absolute;
  width: 226px;
  height: 32px;
  left: 1198px;
  top: 16px;
  display: flex;
  justify-content: space-between;
}

.material-icons {
  color: #525960;
  cursor: pointer;
}

.menu {
  position: absolute;
  height: 48px;
  width: 1440px;
  top: 64px;
  background: #34495e;
  box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  color: #fff;
}

tr {
  cursor: pointer;
}

/* ------------------------------- CSS for Web_My_Orders.html -------------------------------- */

.menu-btn-group {
  position: absolute;
  width: 297px;
  height: 33px;
  left: 560px;
  margin-top: 7px;
}

.menu-btn {
  color: #fff;
}

#orderbtn {
  border-bottom: 4px solid #fbcb07;
}

.btn2 {
  border-radius: 50%;
  color: #000000;
}

.bitmap-com-btn {
  width: 275px;
  height: 36px;
  left: 16px;
  top: 140px;
}

#bitmap {
  position: absolute;
  left: 16px;
  top: 148px;
  width: 167px;
  height: 36px;
}

#compliant {
  position: absolute;
  height: 24px;
  width: fit-content;
  left: 191px;
  right: 80.31%;
  top: 153px;
  font-family: Helvetica Neue;
  font-size: 14px;
  font-weight: 1000;
  color: #06b32a;
  background: rgba(26, 188, 107, 0.2);
  border-radius: 15px;
  padding-left: 7.5px;
  padding-right: 7.5px;
  padding-top: 2px;
  padding-bottom: 3.5px;
}

#sitecheck {
  font-family: Helvetica Neue;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  text-align: left;
  color: #34495e;
  position: absolute;
  height: 20px;
  width: 277px;
  left: 22.78%;
  right: 57.96%;
  top: 154px;
}

#search {
  position: absolute;
  float: right;
  width: 161.078125px;
  border-radius: 4px;
  height: 44px;
  left: 1156.92px;
  top: 136px;
  border: 1px solid rgba(136, 148, 160, 0.3);
  box-sizing: border-box;
}

#filter {
  position: absolute;
  top: 136px;
  left: 1326px;
  right: 16px;
  width: 98px;
  background-color: #fff;
  border-radius: 4px;
  padding-left: 44px;
  padding-top: 11px;
  padding-bottom: 11px;
  height: 44px;
  border: 1px solid rgba(136, 148, 160, 0.3);
  box-sizing: border-box;
}

#search-icon {
  position: absolute;
  top: 146px;
  right: 130px;
  color: #66332b;
}

#filter-icon {
  position: absolute;
  top: 146px;
  right: 80px;
  color: #66332b;
}

#accordionPanelsStayOpenExample {
  position: absolute;
  height: 44px;
  width: 296px;
  left: 16px;
  top: 188.5px;
  border-radius: 4px;
  padding-left: 16px;
  font-family: Helvetica Neue;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  box-shadow: 0px 0px 1px rgba(45, 51, 72, 0.4);
}

#ordertable {
  position: absolute;
  width: 1096px;
  height: 847px;
  left: 328px;
  top: 188px;
  background-color: #ffffff;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1), 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding-left: 33.14px;
  display: block;
  overflow-y: scroll;
}

/*------------------------------- CSS for Web_Order_Details.html ------------------------------*/

#back {
  position: absolute;
  height: 19.32px;
  width: 19.33px;
  left: 40px;
  top: 10px;
  color: #ffffff;
}

#gDoor {
  font-family: Helvetica Neue;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  position: absolute;
  height: 20px;
  left: 6.18%;
  right: 83.89%;
  top: calc(50% - 20px / 2);
}

#po {
  position: absolute;
  height: 17px;
  width: 94px;
  left: 17.22%;
  right: 76.25%;
  top: calc(50% - 17px / 2 + 1.5px);
  font-family: Helvetica Neue;
  font-size: 14px;
  line-height: 17px;
  color: #8894a0;
}

#move-vert {
  position: absolute;
  height: 16px;
  width: 4px;
  left: 1385px;
  top: 10px;
  color: #ffffff;
}

#customer-contact {
  position: absolute;
  height: 96px;
  width: 928px;
  background: #ffffff;
  border: 1px solid #e4e4e4;
  box-sizing: border-box;
  border-radius: 4px;
  padding-top: 10px;
  left: 256px;
  top: 120px;
}

#cname {
  font-family: Helvetica Neue;
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
  color: #34495e;
}

#cdetails {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: rgba(42, 41, 42, 0.8);
  height: 40px;
  width: 246px;
}

.btn-grp {
  position: relative;
  top: 20px;
  float: right;
}

.customer-details {
  float: left;
}

#other-details {
  position: absolute;
  width: 928px;
  left: 256px;
  top: 224px;
  background: #ffffff;
  box-shadow: 0px 3px 8px rgba(45, 51, 72, 0.1);
}

#order-detail-btns {
  display: flex;
  justify-content: space-between;
  font-family: Helvetica Neue;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: center;
}

.btn-group {
  width: 928px;
}

.btn-outline {
  margin-top: 15px;
}

#order-detail-btns button {
  font-family: Helvetica Neue;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
}

.alertItem {
  position: relative;
  left: 120px;
  width: 50%;
  background-color: #fff;
  border: none;
}

#alertDelivery {
  position: relative;
  left: 66px;
}

#info {
  color: #c6d0dd;
  background-color: #c6d0dd;
  border-radius: 50%;
}

button,
button > span {
  vertical-align: middle;
}

.dropdown {
  position: relative;
  left: 150px;
  width: 50%;
  background-color: #fff;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  top: -25px;
}

select {
  position: relative;
  width: 100%;
  border: 1px solid #34495e;
  border-radius: 4px;
}

.in {
  border: 1px solid #34495e;
  border-radius: 4px;
}

.delivery {
  position: relative;
  height: 309px;
  width: 785px;
  left: 54px;
  top: 10px;
  border-radius: 8px;
  box-shadow: 0px 0px 16px rgba(30, 62, 103, 0.12);
}

.btn-confirm {
  margin-top: 5px;
}

.confirm {
  background-color: #66332b;
  color: #fff;
}

.add {
  color: #66332b;
}

.acc-alt {
  float: right;
}

.accord {
  height: 865px;
  overflow: auto;
}

.alert {
  height: fit-content;
  padding: 10.85px;
}

/* ---------------------------------------------- responsive ------------------------------------------- */
/* CSS for width 768px */
/* 1st page */

@media (max-width: 768px) {
  .body {
    position: absolute;
    width: 768px;
    height: 1054px;
    background: #f6f8fa;
  }

  .navbar {
    position: absolute;
    top: 0%;
    background: #000000;
    height: 64px;
    width: 768px;
  }

  .top_right_icons {
    position: absolute;
    width: 226px;
    height: 34px;
    left: 522px;
    top: 16px;
    display: flex;
    justify-content: space-between;
  }

  .menu {
    position: absolute;
    height: 56px;
    width: 768px;
    top: 64px;
    background: #34495e;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    color: #fff;
  }

  .menu-btn-group {
    position: absolute;
    width: 297px;
    height: 33px;
    left: 244px;
    margin-top: 7px;
  }

  #bitmap {
    position: absolute;
    left: 20px;
    top: 145px;
    width: 244px;
    height: 40px;
  }

  #compliant {
    position: absolute;
    height: 25px;
    width: fit-content;
    left: 288.5px;
    right: 80.31%;
    top: 150.5px;
    font-family: Helvetica Neue;
    font-size: 14px;
    font-weight: 1000;
    color: #06b32a;
    background: rgba(26, 188, 107, 0.2);
    border-radius: 15px;
    padding-left: 7.5px;
    padding-right: 7.5px;
    padding-top: 2px;
    padding-bottom: 3.5px;
  }

  #sitecheck {
    visibility: hidden;
  }

  #search {
    position: absolute;
    float: right;
    width: 392.91px;
    border-radius: 4px;
    height: 44px;
    left: 355.09px;
    top: 232px;
    border: 1px solid rgba(136, 148, 160, 0.3);
    box-sizing: border-box;
  }

  #ordertable,
  #filter-icon {
    visibility: hidden;
  }

  #accordionPanelsStayOpenExample {
    position: absolute;
    height: 44px;
    width: 728px;
    left: 20px;
    top: 292px;
    border-radius: 4px;
    padding-left: 16px;
    font-family: Helvetica Neue;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: left;
    box-shadow: 0px 0px 1px rgba(45, 51, 72, 0.4);
  }

  #search-icon {
    position: absolute;
    top: 243px;
    left: 712.22px;
    color: #66332b;
  }

  /* 2nd page */

  #gDoor {
    font-family: Helvetica Neue;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    position: absolute;
    height: 20px;
    width: 143px;
    left: 6.18%;
    right: 83.89%;
    top: 11px;
  }

  #back {
    position: absolute;
    height: 18.11px;
    width: 19.33px;
    left: 15.7px;
    top: 15px;
    color: #ffffff;
  }

  #po {
    position: absolute;
    height: 14px;
    width: 85px;
    left: 6.18%;
    top: 34px;
    font-family: Helvetica Neue;
    font-size: 14px;
    line-height: 17px;
    color: #8894a0;
  }

  #customer-contact {
    position: absolute;
    height: 186px;
    width: 736px;
    background: #ffffff;
    border: 1px solid #e4e4e4;
    box-sizing: border-box;
    border-radius: 4px;
    padding-top: 10px;
    left: 23.7px;
    top: 130px;
  }

  .btn-grp {
    position: absolute;
    top: 145px;
    left: 0px;
    height: 44.02px;
    width: fit-content;
  }

  #other-details {
    position: absolute;
    width: 768px;
    left: 23.7px;
    top: 325px;
    background: #ffffff;
    box-shadow: 0px 3px 8px rgba(45, 51, 72, 0.1);
  }

  .delivery {
    position: relative;
    height: 300px;
    width: 590px;
    left: 54px;
    top: 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 16px rgba(30, 62, 103, 0.12);
  }
}

/* ----------------------------------- CSS for width 375px ---------------------------------------- */

@media (max-width: 375px) {
  .body {
    position: absolute;
    width: 375px;
    height: 1137px;
    background: #f6f8fa;
  }

  .navbar {
    position: absolute;
    top: 0%;
    background: #000000;
    height: 52px;
    width: 375px;
  }

  .logo {
    position: absolute;
    width: 104px;
    height: 32px;
    left: 16px;
    top: 10px;
  }

  .top_right_icons {
    position: absolute;
    width: 226px;
    height: 34px;
    left: 522px;
    top: 16px;
    display: flex;
    justify-content: space-between;
  }

  .menu {
    position: absolute;
    height: 50px;
    width: 375px;
    top: 52px;
    background: #34495e;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    color: #fff;
  }

  .menu-btn-group {
    position: absolute;
    width: 375px;
    height: 33px;
    left: 2px;
    margin-top: 7px;
  }

  #orderbtn,
  #newbtn {
    width: 180px;
  }

  #bitmap {
    position: absolute;
    left: 8px;
    top: 105px;
    width: 194px;
    height: 34px;
  }

  #compliant {
    position: absolute;
    height: 20px;
    width: fit-content;
    left: 270px;
    right: 80.31%;
    top: 112px;
    font-family: Helvetica Neue;
    font-size: 12px;
    font-weight: 1000;
    color: #06b32a;
    background: rgba(26, 188, 107, 0.2);
    border-radius: 10px;
    padding-left: 7.5px;
    padding-right: 7.5px;
    padding-top: 2px;
    padding-bottom: 3.5px;
  }

  #sitecheck {
    visibility: hidden;
  }

  #search {
    position: absolute;
    float: right;
    width: 343px;
    border-radius: 4px;
    height: 44px;
    left: 16px;
    top: 150px;
    border: 1px solid rgba(136, 148, 160, 0.3);
    box-sizing: border-box;
  }

  #search-icon {
    position: absolute;
    top: 160px;
    left: 320px;
    color: #66332b;
  }

  #filter-icon {
    visibility: hidden;
  }

  #ordertable {
    visibility: hidden;
  }

  #accordionPanelsStayOpenExample {
    position: absolute;
    height: 44px;
    width: 343px;
    left: 16px;
    top: 220px;
    border-radius: 4px;
    padding-left: 16px;
    font-family: Helvetica Neue;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: left;
    box-shadow: 0px 0px 1px rgba(45, 51, 72, 0.4);
  }

  /* 2nd page */

  #gDoor {
    font-family: Helvetica Neue;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    position: absolute;
    height: 20px;
    width: 159px;
    left: 64px;
    top: 8px;
  }

  #back {
    position: absolute;
    height: 16px;
    width: 16px;
    left: 3.7px;
    top: 10px;
    color: #ffffff;
  }

  #po {
    position: absolute;
    height: 14px;
    width: fit-content;
    left: 64px;
    top: 31px;
    font-family: Helvetica Neue;
    font-size: 14px;
    line-height: 17px;
    color: #8894a0;
  }

  #customer-contact {
    position: absolute;
    height: 124px;
    width: 360px;
    background: #ffffff;
    border: 1px solid #e4e4e4;
    box-sizing: border-box;
    border-radius: 4px;
    padding-top: 10px;
    left: 8px;
    top: 110px;
  }

  .btn-grp {
    position: absolute;
    top: 85px;
    left: 10px;
    height: 44.02px;
    width: fit-content;
  }

  #other-details {
    position: absolute;
    width: 360px;
    left: 7px;
    top: 240px;
    background: #ffffff;
    box-shadow: 0px 3px 8px rgba(45, 51, 72, 0.1);
  }

  .order-detail-btns,
  .btn-group {
    width: 360px;
  }

  .delivery {
    position: relative;
    height: 300px;
    width: 327px;
    left: 52px;
    top: 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 16px rgba(30, 62, 103, 0.12);
  }

  .dropdown {
    position: relative;
    left: 95px;
    width: 50%;
    background-color: #fff;
    /* padding-left: 15px; */
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    top: -25px;
  }

  #time {
    display: flex;
    justify-content: space-evenly;
    width: max-content;
  }

  .btn-confirm {
    display: flex;
  }
}
